@model IEnumerable<HTA.Adventures.Models.Types.Location>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Address
        </th>
        <th>
            Picture
        </th>
        <th>
            Lat,Lon
        </th>
        <th>
            Region
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture)
            </td>
            <td>@Html.DisplayFor(model => item.Point.LatLon)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Region.Name))
                { 
                    @Html.ActionLink(item.Region.Name, "Details", "AdventureRegion", new { item.Region.Id }, new { });
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
