@model HTA.Website.MVC.Example.Controllers.AdventureTypeModel
@{
    ViewBag.Title = "Create new Adventure Type";
}
<h2>
    Create new Adventure Type</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Adventure Type</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.AdventureType.Name) :
            @Html.EditorFor(model => model.AdventureType.Name)
            @Html.ValidationMessageFor(model => model.AdventureType.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.AdventureType.Description) :
            @Html.EditorFor(model => model.AdventureType.Description)
            @Html.ValidationMessageFor(model => model.AdventureType.Description)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.AdventureType.PhotoLink) :
            @Html.EditorFor(model => model.AdventureType.PhotoLink)
            @Html.ValidationMessageFor(model => model.AdventureType.PhotoLink)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.AdventureType.IconLink) :
            @Html.EditorFor(model => model.AdventureType.IconLink)
            @Html.ValidationMessageFor(model => model.AdventureType.IconLink)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.SelectedTemplates) :
            @Html.ListBoxFor(model => model.SelectedTemplates, Model.TemplateList.Select(fl => new SelectListItem() { Text = fl.Name, Value = fl.Id }), new { Multiple = "multiple" })
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
