@model IEnumerable<HTA.Adventures.Models.Types.AdventureReview>
@{
    ViewBag.Title = "Adventure Review Index";
}
<section id="content">
<div class="row">
    <div class="span8" >
    <div class="span7">
    <h2>
    Adventure Review Index</h2>
        <p>
        @Html.ActionLink("Create a New Adventure Review", "Create")
        </p>
        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    Name
                </th>
                <th>Type</th>
                <th>Location</th>
                <th>Region</th>
                <th>Author</th>
                <th></th>
            </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdventureName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdventureType.Name)
        </td>
        <td>
            Coming Soon
        </td>
        <td>
            Coming Soon
        </td>
        <td>
            Coming Soon
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
            </div>
        </div>
        @Html.Partial("_RightBar")
    </div>
    <div class="clear"></div>
</section>
